body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.btn {
  background-color: #dc8f00;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.btn:hover {
  background-color: #f6a000;
}
.accordian {
  width: 500px;
}
.item {
  text-align: center;
  font-weight: 700;
  background-color: #e09200;
  margin-bottom: 10px;
  padding: 6px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.title h3 {
  margin: 0;
  text-align: center;
}
.title span {
  font-size: 22px;
  font-weight: bold;
}
.toggle {
  display: flex;

  margin-bottom: 20px;
  margin-right: 20px;
}
