.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.heading {
  display: flex;
  margin: 20px;
  cursor: pointer;
}
.label {
  border: 1px solid black;
  padding: 10px;
}
.active {
  background-color: green;
  padding: 7px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
}
