.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.model {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container {
  background-color: rgb(240, 240, 240);
  width: 400px;
  border-radius: 6px;
  padding: 15px;
  animation: popup 0.3s ease;
}
.header {
  display: flex;
  align-content: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.close-popup {
  font-size: 28px;
  cursor: pointer;
}

@keyframes popup {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
