.Loadmore_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.products {
  padding: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(44, 44, 44);
  padding: 10px;
  border: none;
  border-radius: 4px;
}
.loading {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 40px 0;
}

.loading::before,
.loading::after,
.loading span {
  content: "";
  width: 10px;
  height: 10px;
  background: #3498db;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loading::after {
  animation-delay: 0.2s;
}

.loading span {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-10px);
    opacity: 0.5;
  }
}
