:root {
  --bgcolor: rgb(22, 22, 22);
  --font-family: Arial, Helvetica, sans-serif;
  --pd1: 10px;
  --pd2: 20px;
}
body {
  background-color: var(--bgcolor);
  font-family: var(--font-family);
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgb(45, 0, 86);
  color: white;
  height: 400px;
  width: 300px;
  padding: var(--pd2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.inner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inner-container input {
  width: 100%;
  padding: 4px;
  border: none;
  border-radius: 2px;
  margin: 4px;
}
.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
}
.result-container button {
  padding: var(--pd1);
  border: none;
  border-radius: 6px;
  background: rgb(82, 0, 247);
  color: white;
  font-weight: 600;
  transition: all 0.2s ease;
}
button:hover {
  background-color: rgb(0, 0, 107);
}
